body {
	background-image: url('pigs.png');
	background-size: 50%;
	background-repeat: repeat;
}
#center {
	margin: auto;
	width: 700px;
	height: 500px;
	background-color: white;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
}
#title {
	font-size: 42px;
	font-weight: bold;
}
#footer {
	clear: both;;
	width: 70px;
	background-color: white;
	text-align: center;
}